.inicio-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px); 
}

.inicio-container {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow: auto; 
}
.inicio-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .hobbies-list {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .hobbies-list h3 {
    color: #5a55ea;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .hobby-item {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .hobby-item p {
    font-weight: bold;
    margin-bottom: 10px;
    color: #5a55ea;
  }
  
  .hobby-details {
    font-size: 0.9rem;
    color: gray;
  }
  
  .view-all {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #5a55ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hobbies-main, .hobbies-more {
    flex: 3;
  }
  
  .hobbies-main h3, .hobbies-more h3 {
    color: #5a55ea;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .hobbies-popular {
    display: flex;
    justify-content: space-around;
  }
  
  .hobby-card {
    background-color: white;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .hobby-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .hobby-card h4 {
    color: #5a55ea;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .hobby-card p {
    color: black;
    margin-bottom: 10px;
  }
  
  .join-btn {
    padding: 8px 15px;
    background-color: #5a55ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  