.footer {
  background-color: #5a55ea; 
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0; 
  left: 0; 
  z-index: 1000; 
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
}

.footer-email, .footer-phone {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.footer-email:hover, .footer-phone:hover {
  text-decoration: underline;
}

.footer-phone::before {
  content: "\260E"; 
  margin-right: 8px;
}
