.footer {
  background-color: #5a55ea; /* Fondo morado similar al header */
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed; /* Fija el footer en la parte inferior */
  bottom: 0; /* Posiciona el footer en la parte más baja */
  left: 0; /* Asegura que el footer cubra toda la parte inferior */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
}

.footer-email, .footer-phone {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.footer-email:hover, .footer-phone:hover {
  text-decoration: underline;
}

.footer-phone::before {
  content: "\260E"; 
  margin-right: 8px;
}
