
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a55ea;
    padding: 10px;
    position: relative;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 600px;
    margin-right: 10px;
  }
  
  .search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .search-bar button i {
    font-size: 1.2rem;
    color: #333;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .dropdown-menu a:hover {
    background-color: #f0f0f0;
  }
  